*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background: rgb(202, 181, 181);
}
.container{
    width: 50%;
    height: 600px;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px rgb(40,40,40);
    text-align: center;
}
.img{
    height: auto;
    width: auto;
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    right:0px;
    bottom:0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: black;
    cursor: pointer;
}
.content{
    position:absolute;
    top: 40%;
    left: 300px;
    right: 300px;
    transform: translate(-50%, -50%,);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Verdana;

}
.container:hover .overlay{
    opacity: 0.6;
}
#BNHP{
    padding-left: 400px;
    padding-right: 400px;
    position: relative;
    top: 700px;
    left: 0px;
    right: 0px;
    bottom:0;
    text-align: justify;
    font-size: 20px;
}

#AboutArea{
    color: rgb(137, 19, 19);
    font-size: 30px;

}
.imagealign{
    text-align: center;
}
.Definition{
    margin: 0px 450px 0px 250px;
}
.gmap{
    text-align: center;
}
.cities{
    text-align: left;
    margin-left: 250px;
    padding: 0;
    font-size: 20px;
}
h2{
    text-align: left;
    margin-left: 250px;
    font-family: Keep Calm Medium;
    text-decoration: underline;
    font-size: 30px;
}

.alignment{
    text-align: left;
    margin-left: 250px;
}
.table{
    background: light gray;
    max-width: 890px;
    margin: auto;
}
.detailsalignment{
    text-align: left;
}
.detailsalignment2{
    text-align: center;
}
nav{
    position: fixed;
    width: 100%;
}
nav ul{
    list-style: none;
    background: rgba(0,0,0,0);
    overflow: hidden;
    color: rgb(255, 255, 255);
    padding: 0;
    text-align: right;
    margin: 0;

}
nav .black ul{
    background: #000;

}
nav ul li{
    display: inline-block;
    padding: 20px;
}
nav ul li a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: skyblue;
    font: 40px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder;
}

.nodecor{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
.menu{
    background: rgb(89, 99, 238);
}
#POI{
    font-family: Keep Calm Medium;
    color: blue;
    font-size: 30px;
}
#locationclr{
    color: rgb(86, 0, 224);
    font-size: 30px;
}
#facts{
    color: red;
    font-size: 30px;
}
#CandT{
    color: rgba(136, 136, 10, 1);
    font-size: 30px;
}
.spots{
    text-align: left;
    margin-left: 250px;
    padding: 0;
    font-size: 20px;
}
.spotsimages{
    max-width: 1500px;
    margin: auto;
    background:#ddbfa3b7;
    overflow: auto;
    display: flex;
}
.gallery{
    margin: 5px;
    float: left;
    width: 400px;
    box-shadow: 0 0 20px 2 px rgba(0,0,0,.1);
    transition: 1s;
}
.gallery img{
    width: 400px;
    height: 300px;
    border: 400px; 
    border-radius: 300px;

}
.desciption{
    padding: 15px;
    text-align: center;
    color: rgb(7, 84, 59);
}
.gallery:hover{
    transform: scale(1.5);
    z-index:2;
 
}