@import url('https://fonts.googleapis.com/css2?family=Sono:wght@700&display=swap');
body{
    background: url("programming bg.jpg") no-repeat;
    background-size: cover;
}
div{
            background: rgba(71, 67, 63,1);
            color: aqua;
            font-family: 'Sono', sans-serif;    
            letter-spacing: 10px;  
            word-spacing: 50px;
            border: 5px  solid greenyellow;
            border-radius: 50px;
            text-align: center;
            margin: 50px 100px 50px 100px;
        }
.greenBackground{
    background: #ef8e21;
    color:white;
}
#sample{
    color:red
}
.samplebox{
    background:#ef8e21;
    margin: 10px 20px 30px 40px;
    padding: 40px 30px 20px 10px;
    border: 10px  solid greenyellow;
    border-radius: 50px;
    -webkit-box-shadow: 11px 18px 14px 8px rgba(11,48,22,0.77);
    -moz-box-shadow: 11px 18px 14px 8px rgba(11,48,22,0.77);
    box-shadow: 11px 18px 14px 8px rgba(11,48,22,0.77);
    FONT-SIZE: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /*bold,bolder,light,lighter*/
    font-style: italic;
    text-transform: uppercase;
    /*lowercase, uppercase, capitaliza*/
    text-decoration: underline;
    /*overline, underline, line-through*/
    text-align: center;
}
.overflowsample{
    width: 200px;
    height: 500px;
    overflow-x: scroll;
    text-indent: 20px;
}